.headerForm {
    background: linear-gradient(0, #5a1471, #a656bf);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 30;
    border-bottom-left-radius: 30;
    color: #fff;
    margin: 0;
    padding: 25px;
    position: relative;
    text-align: center;
    top: 0;
  }
  